@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
body, html {
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background: #E7E7E7;
  display: -ms-grid;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
      grid-template-areas: "header header" "sidebar main";
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
  font-size: 1.2em;
}

header, aside, main, section {
  padding: 20px;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background: #ff0000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto;
      grid-template-columns: 10% auto;
}

header a {
  color: #fff;
}

aside {
  background: #D3D3D3;
}

section {
  background: #fff;
  border-radius: 10px;
  min-height: 30%;
}

h1 {
  margin: 0;
}

nav {
  -ms-grid-column-align: right;
      justify-self: right;
}

nav ul li {
  display: inline;
}

nav ul li a {
  padding: 10px;
  display: inline;
}

aside ul {
  margin-top: 30px;
  display: inline;
}

aside ul li a {
  text-transform: uppercase;
  font-size: .7em;
  padding: 13px 0;
  display: block;
  color: #000;
}

ul li {
  display: inline;
}

body::after {
  opacity: 0;
}

body.shepherd-active::after {
  content: "";
  display: block;
  background-color: #000;
  opacity: 0.4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000000;
}

.shepherd-element.shepherd-open, .shepherd-target.shepherd-enabled {
  z-index: 10000000;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*body {
    margin: 0;
}*/
:root {
  --step-color-active: #FF3300;
  --step-color-disabled: #eeeeee;
  --progressio-width:33%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-step-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  max-width: 100%;
  width: 250px;
  margin: 15px 0;
}

.progress-step-container .step-number {
  width: 30px;
  height: 30px;
  border: 3px solid var(--step-color-disabled);
  border-radius: 50%;
  font: 16px consolas;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  background: #eeeeee;
  z-index: 1;
  -webkit-transition: border-radius 0.4s ease-in;
  transition: border-radius 0.4s ease-in;
  cursor: pointer;
}

.step-number.active {
  border: 3px solid var(--step-color-active);
  color: var(--step-color-active);
}

.progress-step-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: var(--step-color-disabled);
  z-index: -1;
}

.step-progression {
  position: absolute;
  width: 33%;
  height: 3px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: var(--step-color-active);
  -webkit-transition: width 0.4s ease-in;
  transition: width 0.4s ease-in;
  z-index: 1;
}

button {
  margin: 0 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

.tour-container {
  background: #FFFAF0;
  width: 800px;
  margin: 20px auto;
  padding: 15px 20px 30px 20px;
  text-align: center;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.tour-section {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid grey;
  padding: 20px;
  margin-bottom: 5px;
  width: 200px;
  color: white;
}

.start-tour {
  color: white;
  font-size: 20px;
  border-radius: 3px;
  padding: 10px 20px;
  border: 1px solid #87888A;
  background: #ff0000;
  display: inline-block;
  margin-top: 20px;
}

.tour-button {
  color: white;
  font-size: 16px;
  border-radius: 3px;
  padding: 5px 20px;
  border: 1px solid #87888A;
  background: #ff0000;
  display: inline-block;
  margin-left: 10px;
}

.action-button {
  z-index: 6500;
  position: relative;
}
/*# sourceMappingURL=main.css.map */